/* Apply styles to the whole h1 */
html, body {
  overflow: hidden; /* Disables both vertical and horizontal scrolling */
  height: 100%; /* Ensures the body takes up the full viewport */
}



h1 {
  font-family: 'Arial', sans-serif; /* Simple, minimal font */
  font-weight: 700; /* Bold text for the heading */
  text-align: left;
  color: #333; /* Dark gray text for static words */
  line-height: 1.5;
  margin: 0;
  padding-top: 15px;
  font-size: 50px; /* Large font size for emphasis */
  word-wrap: break-word; /* Prevent long text from being cut */
  transition: 1.5s ease-in-out;
}

@media (max-width: 850px) {
  
h1 {
 
  text-align: left;
  
  line-height: 1;
  margin: 0;
  
  font-size: 20px; /* Large font size for emphasis */

}
 
}

/* Style for the changing word */
#changing-word {
  display: inline-block;
  font-weight: bold; /* Make the changing word bold */
  background-image: linear-gradient(45deg, #ff6a00, #ff6347); /* 2-color gradient */
  -webkit-background-clip: text; /* Make the gradient visible on text */
  color: transparent; /* Make text transparent so the gradient shows */
  transition: background-image 1.5s ease-in-out; /* Smooth color transition */
}

/* Apply styles to the rest of the text span */
span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
  margin: 0;
}
